---
import "../../styles/global.css";
import { Image } from "astro:assets";
import {
  sortItemsByDateDesc,
  createSlugFromTitle,
  withBase,
} from "../../utils/helpers";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Button from "../../components/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ArrowLeft from "../../icons/ArrowLeft.astro";
import ArrowRight from "../../icons/ArrowRight.astro";
import siteConfig from "../../site.config";

export async function getStaticPaths() {
  const posts = (await getCollection("blogs")).sort(sortItemsByDateDesc);
  const postCount = posts.length;
  return posts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null,
    },
  }));
}

type Props = {
  post: CollectionEntry<"blogs">;
  prevPost: CollectionEntry<"blogs">;
  nextPost: CollectionEntry<"blogs">;
};

const { post, prevPost, nextPost } = Astro.props;
const { title, pubDate, author, tags = [], image } = post.data;
const { Content } = await render(post);
---

<MainLayout pageTitle={siteConfig.title + " | " + title}>
  <div class="page-content">
    <h1 class="sigmar-ff text-center text-balance">{title}</h1>
    <p class="kanit-regular text-center text-xs leading-8 text-balance">
      by 🧑‍🚀 <span class="kanit-bold">{author}</span> on <span class="kanit-bold"
        >{new Date(pubDate).toDateString()}</span
      >
    </p>
    {
      image && image.url && (
        <Image class="my-6 mb-8" src={image?.url} alt={image?.alt || ""} />
      )
    }
    <div class="text-left font-light">
      <Content />
    </div>
    <p class="kanit-regular text-center text-xs text-balance">
      Tagged: {
        tags.map((tag) => (
          <Button
            class="m-2 px-4!"
            href={withBase("/tags/" + createSlugFromTitle(tag))}
          >
            {tag}
          </Button>
        ))
      }
    </p>
    <div
      class="my-8 flex flex-col items-center justify-center gap-4 sm:flex-row"
    >
      <Button class="back-link" href={withBase("/blog")}>
        <ArrowLeft class="mr-4 h-5 w-5 fill-current" /> Back to All Stories
      </Button>
      {
        (prevPost || nextPost) && nextPost && (
          <Button
            class="back-link text-balance"
            href={withBase("/blog/" + nextPost.id)}
          >
            Next Post: {nextPost.data.title}{" "}
            <ArrowRight class="ml-4 h-5 w-5 fill-current" />
          </Button>
        )
      }
    </div>
  </div>
</MainLayout>
