---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
import coverImage from "../assets/images/pixeltrue-space-discovery.svg";
---

<MainLayout activePage="contact" pageTitle={siteConfig.title + " | Contact"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.contactInfo?.title}</h1>
    <Image
      width={400}
      height={300}
      loading="eager"
      layout="fixed"
      class="mx-auto mb-8 rounded-4xl grayscale-75 saturate-200"
      src={coverImage}
      alt="Space envelop"
    />
    <div class="flex flex-col">
      <!-- <Image width={1024} height={600} loading="eager" layout="constrained" class="rounded-4xl mb-8 mx-auto" src={coverImage} alt="An Astronaut walking on a terrain"/> -->
      <p class="text-left font-light text-balance">
        {siteConfig.contactInfo?.text}
      </p>
      <p class="text-left font-light">
        {siteConfig.contactInfo?.email?.text}<br />
        <a
          href={siteConfig.contactInfo?.email?.href}
          class="text-left font-light"
        >
          {siteConfig.contactInfo?.email?.email}
        </a>
      </p>
      <p class="flex flex-col text-left font-bold sm:flex-row">
        Social Profiles:
        {
          siteConfig.contactInfo?.socialProfiles?.map((profile) => (
            <a href={profile.href} class="ml-4 text-left font-light">
              {profile.text}
            </a>
          ))
        }
      </p>
    </div>
  </div>
</MainLayout>
