---
import siteConfig from "../site.config";
// import SiteIdentity from "./SiteIdentity.astro";
const currentYear = new Date().getFullYear();
---

<footer class="kanit-light text-xs sm:text-sm">
  <div
    class="footer-primary flex min-w-full flex-col items-center justify-center border-t border-gray-500/50"
  >
    <div
      class="flex flex-row items-center justify-around gap-2 pt-6 pb-3 text-center sm:justify-center sm:gap-6 sm:px-6"
    >
      {
        siteConfig.footerNavLinks?.map((link) => (
          <a href={link.href} title={link.text}>
            {link.text}
          </a>
        ))
      }
      <!-- Hi! -->
      <!-- Feel free to remove the below link or keep it to share your love for this theme! -->
      <a
        href="https://github.com/djsiddz/space-ahead"
        title="Download Space Ahead ✨ Astro Theme"
        target="_blank">Download Theme</a
      >
      <!-- Thank you! -->
    </div>
  </div>
  <div
    class="footer-secondary flex min-w-full flex-col items-center justify-between gap-6 sm:flex-row"
  >
    <div class="flex flex-row items-center justify-start gap-2 text-balance">
      <span>&copy; {currentYear}</span>
      {siteConfig.title}. All rights reserved.
    </div>
    <div class="flex flex-row items-center justify-end-safe gap-4">
      {
        siteConfig.socialLinks?.map((link) => (
          <a href={link.href} title={link.text} target="_blank">
            {link.text}
          </a>
        ))
      }
    </div>
  </div>
  <div
    class="footer-identity sticky bottom-0 h-40 items-end overflow-clip text-center sm:h-18"
  >
    <span
      class="sigmar-ff text-8xl leading-none text-whitesmoke/50 sm:text-[6.5rem] dark:text-gray-300/30"
      >{siteConfig.title}</span
    >
  </div>
</footer>
